.swiper-wrapper {
    margin-left: -35%;
}

@media (max-width:1400px) {
    .swiper-wrapper {
        margin-left: -1%;
    }
}
.dirty{
    /*border-bottom: medium solid black;*/
    width: 100%;
    height: 100%;
    border: 2px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    margin-top: 2%;
}
.field{
    width: 100%;
    height: 10%;
}

.placeholder{
    margin-top: 5%;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Montserrat-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
  }
  
.footer__top {
    justify-content: space-between;
}

.footer__bottom {
    margin-top: 20px;
}

@media (max-width: 640px) {
    .hero {
        flex-direction: column-reverse;
        margin-top: 0;
        margin-bottom: 90px;
    }
    .footer__top {
        justify-content: space-around;
    }
    
}

@media (max-width: 990px) {
    .hero {
        flex-direction: column-reverse;
        margin-top: 0;
    }
}

.hero {
    margin-bottom: 140px;
    margin-top: 270px;
    min-height: 528px;
    background-color: #fff;
}

.d-flex {
    display: flex;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero__section {
    margin-top: 170px;
}

.left-exchange {
    width: 56%;
    overflow: unset !important;
}
@media (max-width: 1199px) {
    .left-exchange {
        width: 57%;
    }
}
@media (max-width: 990px) {
    .left-exchange {
        width: 75%;
    }
}

@media (max-width: 640px) {
    .left-exchange {
        width: 100%;
    }
}

.hero__right {
    width: 44%;
}

@media (max-width: 1199px) {
    .hero__right {
        width: 43%;
    }
}

@media (max-width: 990px) {
    .hero__right {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .hero__right {
        width: 100%;
    }
}

.hero__left {
    background: url(../../img/moneta.png) no-repeat top 40px right -50px;
    margin: 20px;
    position: relative;
}

@media (max-width: 990px) {
    .hero__left {
        padding-top: 55px;
        background: url(../../img/m-mobile.png) no-repeat center top -20px;
    }
}

@media (max-width: 640px) {
    .hero__left {
        margin: 0;
        width: 100%;
    }
}

.exchange_hero {
    width: 84%;
    background: #fff;
    box-shadow: 4px 8px 16px rgb(74 40 21 / 35%);
    border-radius: 20px;
    padding: 42px 50px;
    flex-direction: column;
}

@media (max-width: 1199px) {
    .exchange_hero {
        padding: 42px 30px;
    }
}

@media (max-width: 990px) {
    .exchange_hero {
        width: 100%;
    }
}

@media (max-width: 486px) {
    .exchange_hero {
        padding: 20px 10px;
    }
}

.exchange__block-header {
    width: calc(100% - 201px) !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
}
.exchange__block-btn{
    border-radius: 3px !important;
}

.exchange__block-title {
    font-size: 30px !important;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__right{width:44%}.hero__description{margin-top:70px;flex-direction:column}.hero__heading{margin-left:60px}.hero__title{margin-bottom:25px;font-family:"Montserrat",sans-serif;font-weight:500;font-size:66px;line-height:115%;max-width:480px}.hero__undertitle{font-size:26px;line-height:130%;color:#7d7d7d;margin-bottom:70px;max-width:213px}.hero-note{justify-content:space-between;width:100%;align-items:center}.hero-note__text{font-size:16px;line-height:130%;text-transform:capitalize;color:#6f6f6f}.hero-note__text span{color:#f57444;display:block;margin-right:10px}.hero-note__line{width:65%;height:1px;background:rgba(29,27,27,.65)}@media(max-width:1199px){.hero__title{font-size:52px}.hero__undertitle{font-size:22px}.hero__right{width:43%}.hero__heading{margin-left:40px}.hero-note__line{width:54%}}@media(max-width:990px){.hero__right{width:100%}.hero__title{max-width:99%}.hero__heading{margin-left:0}.hero__undertitle{max-width:100%;font-size:18px;margin-bottom:35px}.hero__note{margin-bottom:50px;width:75%}}@media(max-width:640px){.hero__right{width:100%}.hero__title{max-width:99%;font-size:42px;line-height:105%}.hero__heading{margin-left:0}.hero__undertitle{max-width:100%;font-size:18px;margin-bottom:35px}.hero__note{margin-bottom:100px;width:100%}}@media(max-width:486px){.hero-note__line{width:45%}}::-webkit-scrollbar{background-color:#fff;width:6px;height:6px}::-webkit-scrollbar-thumb{background-color:#f57444;border-radius:3px}